#Online .tit[data-v-4f1f9283] {
 color:#fff;
 margin:15px 0 13px;
 font-size:12px
}
#Online .pay-box li[data-v-4f1f9283] {
 width:140px;
 height:55px;
 line-height:55px;
 border-radius:5px;
 border:3px solid #fff;
 -webkit-box-shadow:0 0 8px 0 rgba(115,0,255,.07);
 box-shadow:0 0 8px 0 rgba(115,0,255,.07);
 display:inline-block;
 margin-right:7px;
 text-align:center;
 background-color:#fff;
 cursor:pointer
}
#Online .pay-box li.active[data-v-4f1f9283] {
 border:2px solid #ffff1b;
 position:relative
}
#Online .pay-box li.active[data-v-4f1f9283]:after {
 content:"";
 width:34px;
 height:34px;
 background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAABx0lEQVRYCc3YP0/CQBQA8C5HX5swMDExk7AQjTLCZMLAyOBuYqKDH4AwaIgO4CdwIdFRNw2bbvoFWDTRoNLXxbg7+czRHEWgtL3+OZpcbmj77tf3XprLadoaXIjmhoXwYyGQcg7HoA3fHKMcJDBoOxiloFmMctA8RiloGUYZyAujBLQKkzrID5MqKAgmNVBQTCqgMJjEQWExiYJkMImBZDGJgKJgYgdFxcQKQjQ3+X6GB40yYtkPyWKGQ6ByOUOlEpt+RGSQLOb5BWhrO0OMMSoWYwLJYl7fgCoVB1MoMHp8csssnSEvTKejU7erT0sw308cU606mHz+P0a6qb0wPKBpskkZ2u1F1PsHUL3uYu4fFp8JnaFVGA7q9fQJiPfG6Zm74OcYqNFwMLkco8HAvTebxVAgP4wIfHzionrnOnFMs+lgsllGt3fLMfz9wKCgGIFqtRyUrjOq1VzM9Y03JjAoLEagjo4cCC+fYTC6vFqNCQSSxQjUwWGGeJn6fX+MLygqRqDCzJ49pALjmSFVmKUglZgF0LpgLIQvDREuLAQUTaVw/kU0djWFgOnf2bLBtiyjOTk9G9uwr2ogwh6ivjMaaSCO8v4AKReXrVFu/xcAAAAASUVORK5CYII=);
 display:inline-block;
 position:absolute;
 bottom:-2px;
 right:-2px
}
#Online .pay-box li img[data-v-4f1f9283] {
 display:inline-block;
 vertical-align:middle;
 width:103px;
 height:31px
}
#Online .pay-box li.wx img[data-v-4f1f9283] {
 width:116px;
 height:34px
}
#Online .pay-box li.qq img[data-v-4f1f9283] {
 width:103px;
 height:30px
}
#Online .pay-box li.jd img[data-v-4f1f9283] {
 width:120px;
 height:30px
}
#Online .pay-box li .bank img[data-v-4f1f9283] {
 width:36px;
 height:27px
}
#Online .pay-box li .bank .b-tit[data-v-4f1f9283] {
 font-size:16px;
 font-weight:400;
 font-stretch:normal;
 line-height:0;
 letter-spacing:1px;
 color:#6f7375;
 vertical-align:middle
}
#Online .pay-box li[data-v-4f1f9283]:last-child {
 margin-right:0
}
#Online .channnels[data-v-4f1f9283] {
 margin-top:36px;
 display:inline-block
}
#Online .channnels .title[data-v-4f1f9283] {
 margin-bottom:12px;
 color:#fff
}
#Online .list[data-v-4f1f9283] {
 min-width:460px
}
#Online .list>p[data-v-4f1f9283] {
 margin-bottom:10px
}
#Online .list .channel-list[data-v-4f1f9283] {
 max-height:300px
}
#Online .list .channel-list li[data-v-4f1f9283] {
 height:40px;
 line-height:40px;
 -webkit-box-shadow:0 0 8px 0 rgba(115,0,255,.07);
 box-shadow:0 0 8px 0 rgba(115,0,255,.07);
 margin-bottom:10px;
 border:3px solid #fff;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 cursor:pointer;
 font-size:14px;
 color:#9b9b9b
}
#Online .list .channel-list li[data-v-4f1f9283]:last-child {
 margin-bottom:0
}
#Online .list .channel-list li>.span[data-v-4f1f9283] {
 min-width:140px;
 text-align:left;
 color:#fff
}
#Online .list .channel-list li>.span .icon-code[data-v-4f1f9283] {
 margin:0 7px 0 15px;
 width:26px;
 height:26px;
 vertical-align:middle;
 display:inline-block;
 background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAMAAACf4xmcAAAAflBMVEUAAADWoj7Woj7Woj7Woj7Woj7Woj7Woj7Woj7Woj7Woj7Woj7Woj7Woj7Woj7Woj7Woj7Woj7Woj7////x4L79+vPetWXmx4v69enes2Dz5Mbqz5rmxofguGvcrlft16vs1KXZqUzYpkbv27PkwX/dsV7arFH37dr16dHoy5MgY5PqAAAAEnRSTlMA++1yb/PW0c1OJgyqqFwuLQ+kReosAAABTElEQVQ4y52U2ZKCMBBFG8LiDl4MizIKqIzz/z84RUhMhFCpmfMCD6dSnZvupg/SYBf7nufHuyClBbYsgkHEtjYr8DHBD2bSZgULq82ntQ5hJVyb1sHDAt7BOEtaVm/9risElglVfWP11f0kuOVom/H30ol7yCQg+M4kJe6ZpMFAIFKVeZVZLuAcZ6WdxvyGnBmUBsFcAyOiSGtPzp82LSJKoLUqyyqbhoQCQ2uLorVqjPZw14Y9xUqrcvmtcM0lV4zE5Cutr4spj061FHmAinfOTT2s1pqSTykfb80H3PjmFSR9J0vv9BXMQCSXKjtj4MsIhNm1Z1EbGqPErhUZN7SEKLJqNS+1FhERc9fGRFvOtVc+UOu21E3+UlrdT14hMEfmejsJfoCHnJ6m1SPjHsC/jbN7ObhXzT8Wl3sNao7TpXqkBVKmVjRLyeQX7lJTw2VD3CMAAAAASUVORK5CYII=) no-repeat;
 background-size:100%
}
#Online .list .channel-list li>.span .money[data-v-4f1f9283] {
 color:#e40f0f
}
#Online .list .channel-list li>.span[data-v-4f1f9283]:first-child {
 text-align:left
}
#Online .list .channel-list li .comment[data-v-4f1f9283] {
 -webkit-box-flex:0;
 -ms-flex:none;
 flex:none;
 min-width:120px
}
#Online .list .channel-list li.active[data-v-4f1f9283] {
 border:2px solid #ffff1b;
 position:relative
}
#Online .list .channel-list li.active[data-v-4f1f9283]:after {
 content:"";
 width:34px;
 height:34px;
 background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAABx0lEQVRYCc3YP0/CQBQA8C5HX5swMDExk7AQjTLCZMLAyOBuYqKDH4AwaIgO4CdwIdFRNw2bbvoFWDTRoNLXxbg7+czRHEWgtL3+OZpcbmj77tf3XprLadoaXIjmhoXwYyGQcg7HoA3fHKMcJDBoOxiloFmMctA8RiloGUYZyAujBLQKkzrID5MqKAgmNVBQTCqgMJjEQWExiYJkMImBZDGJgKJgYgdFxcQKQjQ3+X6GB40yYtkPyWKGQ6ByOUOlEpt+RGSQLOb5BWhrO0OMMSoWYwLJYl7fgCoVB1MoMHp8csssnSEvTKejU7erT0sw308cU606mHz+P0a6qb0wPKBpskkZ2u1F1PsHUL3uYu4fFp8JnaFVGA7q9fQJiPfG6Zm74OcYqNFwMLkco8HAvTebxVAgP4wIfHzionrnOnFMs+lgsllGt3fLMfz9wKCgGIFqtRyUrjOq1VzM9Y03JjAoLEagjo4cCC+fYTC6vFqNCQSSxQjUwWGGeJn6fX+MLygqRqDCzJ49pALjmSFVmKUglZgF0LpgLIQvDREuLAQUTaVw/kU0djWFgOnf2bLBtiyjOTk9G9uwr2ogwh6ivjMaaSCO8v4AKReXrVFu/xcAAAAASUVORK5CYII=);
 display:inline-block;
 position:absolute;
 bottom:-2px;
 right:-2px
}
#Online .list .btns[data-v-4f1f9283] {
 width:100%;
 text-align:left;
 margin:25px 0
}
#Online .list .btns[data-v-4f1f9283] .el-button {
 width:130px;
 height:34px;
 line-height:34px;
 background-color:#ffff1b;
 border-radius:17px;
 color:#000;
 margin-right:30px;
 border-color:#ffff1b;
 padding:0
}
#Online .tip-info[data-v-4f1f9283] {
 margin-bottom:25px
}
#Online .dialog[data-v-4f1f9283] {
 position:fixed;
 left:0;
 top:0;
 width:100%;
 height:100%;
 background-color:rgba(0,0,0,.6);
 z-index:11
}
#Online .dialog .cont[data-v-4f1f9283] {
 position:relative;
 z-index:11;
 width:400px;
 min-height:150px;
 background-color:#fff;
 border-radius:10px;
 overflow:hidden;
 margin:auto;
 margin-top:15vh
}
#Online .dialog .cont>h1[data-v-4f1f9283] {
 height:34px;
 font-size:14px;
 line-height:34px;
 color:#fff;
 font-weight:400;
 text-align:center;
 background-image:-webkit-gradient(linear,left top,left bottom,from(#dbd0b7),to(#dbd0b7)),-webkit-gradient(linear,left top,left bottom,from(#a56ceb),to(#a56ceb));
 background-image:linear-gradient(#dbd0b7,#dbd0b7),linear-gradient(#a56ceb,#a56ceb)
}
#Online .dialog .cont .pay-type[data-v-4f1f9283] {
 padding:12px 5px
}
#Online .dialog .cont .pay-type ul[data-v-4f1f9283] {
 max-height:300px;
 overflow-y:auto;
 padding:0 10px
}
#Online .dialog .cont .pay-type ul li[data-v-4f1f9283] {
 height:40px;
 line-height:40px;
 border:1px solid #d9d9d9;
 margin-bottom:10px;
 padding-left:14px;
 position:relative;
 cursor:pointer;
 font-size:12px;
 color:#9b9b9b
}
#Online .dialog .cont .pay-type ul li[data-v-4f1f9283]:last-child {
 margin-bottom:0
}
#Online .dialog .cont .pay-type .dialog-btn[data-v-4f1f9283] {
 width:100%;
 text-align:center;
 margin-top:12px
}
#Online .dialog .cont .pay-type .dialog-btn[data-v-4f1f9283] .el-button {
 width:130px;
 height:34px;
 line-height:34px;
 background-color:#ffff1b;
 border-radius:17px;
 color:#fff;
 margin-right:30px;
 border-color:#ffff1b;
 padding:0
}
#Online .dialog .cont .pay-type>ul li[data-v-4f1f9283] {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center
}
#Online .dialog .cont .pay-type>ul li i[data-v-4f1f9283] {
 min-width:20px;
 overflow:hidden;
 cursor:pointer
}
#Online .dialog .cont .pay-type>ul li i.icon-yuanhuan[data-v-4f1f9283] {
 font-size:18px;
 color:#c9c9c9
}
#Online .dialog .cont .pay-type>ul li i.icon-xuanzhong[data-v-4f1f9283] {
 font-size:15px;
 color:#018ffd
}
#Online .dialog .cont .qrCode[data-v-4f1f9283] {
 margin-top:15px
}
#Online .dialog .cont .qrCode .code[data-v-4f1f9283] {
 width:166px;
 height:166px;
 overflow:hidden;
 margin:0 auto;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:center;
 -ms-flex-pack:center;
 justify-content:center;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center
}
#Online .dialog .cont .qrCode .code .icon-cuowu1[data-v-4f1f9283] {
 font-size:100px;
 color:#ccc
}
#Online .dialog .cont .qrCode .img[data-v-4f1f9283] {
 text-align:center;
 margin:11px auto 0
}
#Online .dialog .cont .qrCode .money[data-v-4f1f9283] {
 margin:10px 0 15px;
 text-align:center
}
#Online .dialog .cont .qrCode .money p[data-v-4f1f9283] {
 font-size:16px;
 color:#595959;
 margin-bottom:15px
}
#Online .dialog .cont .qrCode .money p .m-val[data-v-4f1f9283] {
 font-size:16px;
 color:red
}
#Online .dialog .cont .qrCode .money[data-v-4f1f9283] .el-button {
 margin-bottom:13px;
 width:130px;
 height:34px;
 line-height:34px;
 background-color:#ffff1b;
 border-radius:17px;
 color:#fff;
 margin-right:30px;
 border-color:#ffff1b;
 padding:0
}
#Online .dialog .cont .qrCode .remark[data-v-4f1f9283] {
 margin:0 auto 15px;
 width:341px;
 color:#666
}
#Online .dialog .cont .qrCode .remark>p[data-v-4f1f9283] {
 font-size:12px;
 line-height:18px;
 letter-spacing:0;
 text-align:left;
 margin-bottom:0
}
#Online .dialog .cont .qrCode .info p[data-v-4f1f9283] {
 width:256px;
 margin:0 auto 13px;
 font-size:16px;
 word-break:break-all;
 word-wrap:break-word
}
#Online .dialog .cont .qrCode .grap-btn[data-v-4f1f9283] {
 background-color:#707070!important;
 border-color:#707070!important
}
#Online .dialog .black[data-v-4f1f9283] {
 position:absolute;
 left:0;
 top:0;
 width:100%;
 height:100%;
 z-index:0
}
#Online .recharge-modal[data-v-4f1f9283] {
 position:fixed;
 left:0;
 right:0;
 top:0;
 bottom:0;
 background-color:rgba(0,0,0,.7);
 z-index:10
}
#Online .recharge-modal .recharge-content-modal[data-v-4f1f9283] {
 width:428px;
 min-height:367px;
 background-color:#fff;
 border-radius:5px;
 margin:200px auto 0;
 padding-bottom:16px;
 background-image:url(https://res-qn.boLink-edu.com/alj_www/static/img/icon_ht.b0fb414.png);
 background-repeat:no-repeat
}
#Online .recharge-modal .recharge-content-modal h4[data-v-4f1f9283] {
 font-size:27px;
 color:#fff;
 line-height:82px;
 text-align:center;
 font-weight:400
}
#Online .recharge-modal .recharge-content-modal .text[data-v-4f1f9283] {
 font-size:14px;
 line-height:20px;
 letter-spacing:0;
 color:#333;
 text-indent:30px;
 margin:10px 34px 0
}
#Online .recharge-modal .recharge-content-modal .money-box[data-v-4f1f9283] {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center
}
#Online .recharge-modal .recharge-content-modal .money-box .current[data-v-4f1f9283] {
 font-size:14px;
 line-height:22px;
 letter-spacing:0;
 color:#333;
 font-weight:600;
 margin-top:24px
}
#Online .recharge-modal .recharge-content-modal .money-box .current em[data-v-4f1f9283] {
 color:red
}
#Online .recharge-modal .recharge-content-modal .money-box .change[data-v-4f1f9283] {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 margin-top:15px;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap;
 padding:0 20px
}
#Online .recharge-modal .recharge-content-modal .money-box .change .item[data-v-4f1f9283] {
 width:91px;
 height:41px;
 background-color:#fff;
 border-radius:5px;
 border:1px solid #959595;
 margin-right:5px;
 color:#333;
 text-align:center;
 line-height:41px;
 cursor:pointer;
 margin-bottom:5px
}
#Online .recharge-modal .recharge-content-modal .money-box .change .item[data-v-4f1f9283]:nth-child(4n) {
 margin-right:0
}
#Online .recharge-modal .recharge-content-modal .money-box .change .item.active[data-v-4f1f9283] {
 background-color:#cda350;
 border-color:#cda350;
 color:#fff
}
#Online .recharge-modal .recharge-content-modal .money-box .btns[data-v-4f1f9283] {
 margin-top:20px
}
#Online .recharge-modal .recharge-content-modal .money-box .btns .btn[data-v-4f1f9283] {
 width:145px;
 height:37px;
 background-color:#fff;
 border-radius:3px;
 border:1px solid #717171;
 outline:none;
 line-height:37px;
 text-align:center;
 color:#575757;
 cursor:pointer
}
#Online .recharge-modal .recharge-content-modal .money-box .btns .btn.reset[data-v-4f1f9283] {
 margin-right:6px
}
#Online .recharge-modal .recharge-content-modal .money-box .btns .btn.ok[data-v-4f1f9283] {
 background-image:-webkit-gradient(linear,left top,right top,color-stop(1%,#ff453b),color-stop(33%,#ff6143),to(#ff7d4b)),-webkit-gradient(linear,left top,left bottom,from(#ff2140),to(#ff2140));
 background-image:linear-gradient(90deg,#ff453b 1%,#ff6143 33%,#ff7d4b),linear-gradient(#ff2140,#ff2140);
 color:#fff;
 border-color:#ff6143
}
