.xd-modal[data-v-09f4357c] {
 position:fixed;
 left:0;
 right:0;
 top:0;
 bottom:0;
 z-index:99
}
.xd-modal .xd-modal-mask[data-v-09f4357c] {
 position:fixed;
 left:0;
 right:0;
 top:0;
 bottom:0;
 background-color:rgba(0,0,0,.6)
}
.xd-modal .xd-modal-wrapper[data-v-09f4357c] {
 display:block;
 position:relative;
 margin:280px auto 0;
 background-color:#fff;
 border-radius:8px;
 z-index:100;
 overflow:hidden;
 padding-bottom:15px
}
.xd-modal .xd-modal-wrapper .title[data-v-09f4357c] {
 text-align:center;
 font-size:15px;
 background-image:-webkit-gradient(linear,left top,left bottom,from(#dbd0b7),to(#dbd0b7));
 background-image:linear-gradient(#dbd0b7,#dbd0b7);
 height:40x;
 line-height:40px;
 font-weight:400;
 color:#fff
}
.xd-modal .xd-modal-wrapper .content[data-v-09f4357c] {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 padding:15px 20px 0;
 margin:0 auto
}
.xd-modal .xd-modal-wrapper .btns[data-v-09f4357c] {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:center;
 -ms-flex-pack:center;
 justify-content:center
}
.xd-modal .xd-modal-wrapper .btns button[data-v-09f4357c] {
 border-radius:17px;
 width:130px;
 height:34px;
 line-height:0;
 border:1px solid #d6a23e;
 font-size:16px;
 color:#d6a23e;
 background-color:#fff;
 cursor:pointer
}
.xd-modal .xd-modal-wrapper .btns button.ok[data-v-09f4357c] {
 background-color:#d6a23e;
 color:#fff;
 margin-right:20px
}
